# tasks file for innotop
---
- name: install dependencies
  apt:
    name: "{{ innotop_dependencies }}"
    state: "{{ apt_install_state | default('latest') }}"
    update_cache: true
    cache_valid_time: "{{ apt_update_cache_valid_time | default(3600) }}"
  tags:
    - configuration
    - innotop
    - innotop-install
    - innotop-install-dependencies

- name: create (checkout) directory
  file:
    path: /var/lib/ansible/innotop/checkouts
    state: directory
    owner: root
    group: root
    mode: 0755
  tags:
    - configuration
    - innotop
    - innotop-checkout

- name: checkout repository
  git:
    repo: https://github.com/innotop/innotop.git
    dest: "{{ innotop_checkout_path }}"
    force: true
  register: result
  tags:
    - configuration
    - innotop
    - innotop-checkout

- name: make
  command: >
    perl Makefile.PL
  args:
    chdir: "{{ innotop_checkout_path }}"
  when: result is changed
  tags:
    - configuration
    - innotop
    - innotop-make

- name: install
  command: >
    make install
  args:
    chdir: "{{ innotop_checkout_path }}"
  when: result is changed
  tags:
    - configuration
    - innotop
    - innotop-install

- name: cleanup build
  shell: >
    git reset --hard && git clean -d -x -f
  args:
    chdir: "{{ innotop_checkout_path }}"
    warn: false
  when: result is changed
  tags:
    - configuration
    - innotop
    - innotop-cleanup-build
